<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.rmtu.mscscical"  version = "1.0.0">

	<name>MSCSciCal</name>
    <description>Scientific Calculator. Created by MSCS Students at Ramon Magsaysay Technological University, Iba, Zambales.</description>
    <author>MSCS South</author>
	
	<gap:platforms>
		<gap:platform name="android" />
	</gap:platforms>
	
	<icon src="SBCGC LOGO.png" gap:role="default" />
		
	<feature name="http://api.phonegap.com/1.0/file"/>
	
	<gap:plugin name="cordova-plugin-file" source="npm" />
	<gap:plugin name="cordova-plugin-media" source="npm" />
		
	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="fullscreen" value="true" />
	
	<preference name="android-minSdkVersion" value="14" />
</widget>